Software/Node-Red/Smarter_Rauchmelder_flows.json
[{"id":"deb7c0d2.fe03d","type":"tab","label":"Soft_Skills_Projekt","disabled":false,"info":""},{"id":"3328bf90.46261","type":"pushover","z":"deb7c0d2.fe03d","name":"","device":"galaxys20","title":"","priority":0,"sound":"","url":"","url_title":"","html":false,"x":780,"y":320,"wires":[]},{"id":"60d26414.ac056c","type":"mqtt in","z":"deb7c0d2.fe03d","name":"","topic":"Rauchmelder","qos":"2","datatype":"auto","broker":"fefeb1a5.a52e6","nl":false,"rap":true,"rh":0,"x":290,"y":320,"wires":[["f7f4bc2.f16524"]]},{"id":"f7f4bc2.f16524","type":"deduplicate","z":"deb7c0d2.fe03d","name":"","keyproperty":"","expiry":"1800","x":550,"y":320,"wires":[["3328bf90.46261","3ee17c46.a2f994"],[]]},{"id":"15defc88.77d343","type":"inject","z":"deb7c0d2.fe03d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":290,"y":400,"wires":[["f7f4bc2.f16524"]]},{"id":"3ee17c46.a2f994","type":"debug","z":"deb7c0d2.fe03d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":380,"wires":[]},{"id":"fefeb1a5.a52e6","type":"mqtt-broker","name":"","broker":"mqtt.iot.informatik.uni-oldenburg.de","port":"2883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
